.spinner {
    animation: spin 2s infinite linear;
    display: none;
}

.visible {
    display: inline-block;
}

.wrapper.search {
    top: 0;
    position: absolute;
    transform: translate(-30px, 7px);
}

.spinner.search {
    opacity: .5;
}