/* Semantic-UI edit */
input {
    padding-right: 2.67142857em !important;
    border-radius: 500rem;
    width: 100%;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-shadow: none;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.25);
    color: rgba(0,0,0,.67);
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: background-color .1s ease,color .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: background-color .1s ease,color .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: background-color .1s ease,color .1s ease,box-shadow .1s ease,border-color .1s ease;
    transition: background-color .1s ease,color .1s ease,box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
}

input:focus, input:active {
    border-color: rgba(0,0,0,.67);
    color: rgba(0,0,0,.87);
}

.search {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search > div {
    width: 400px;
}

.search i {
    display: none;
    padding-top: 11px;
    position: absolute;
    cursor: pointer;
    line-height: 1;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: .5;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.search i.visible {
    display: inline-block;
    z-index: 10;
}

.search > input:focus ~ i.visible {
    opacity: 1;
}

.search i, c-spinner {
    transform: translateX(-40px);
}